.dashboard {

  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  color: #333;
  background-color: #dbdbdb;

  input[type="text"],
  input[type="file"],
  select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
  }


  .error {
    color: #d32f2f;
    background-color: #ffebee;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 15px;
  }

  .csvSection,
  .createModelSection,
  .modelsSection {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
  }

  .csvList,
  .modelsList {
    list-style-type: none;
    padding: 0;


    li {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 15px 0;
      border-bottom: 1px solid #e0e0e0;

      &:last-child {
        border-bottom: none;
      }

      button {
        margin-left: 10px;
      }
    }
  }

  .showButton {
    margin-bottom: 10px;
  }

  .selectedModel {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

    ul {
      padding-left: 20px;
    }
  }
}

.inputGroup {
  margin-bottom: 15px;

  input {
    margin-bottom: 5px;
  }

  .inputSubtitle {
    font-size: 14px;
    color: #666;
    margin-top: -5px;
    margin-bottom: 10px;
  }
}